.orders-container{

    padding:30px;

}


.orders-container h2{

    text-align:center;

}


table{

    width:100%;
    border-collapse:collapse;

}


th,td{

    border:1px solid #ddd;
    padding:12px;
    text-align:center;

}


th{

    background:#1565c0;
    color:white;

}